.exhibition
- if user_signed_in?
  =link_to new_product_path, class: "exhibition__btn" do
    %span.exhibition__btn--text
      出品する
    = image_tag 'icon_camera.png', class: 'exhibition__btn--icon' ,size: '54x54'
- else
  =link_to root_path, class: "exhibition__btn" do
    %span.exhibition__btn--text
      出品する
    = image_tag 'icon_camera.png', class: 'exhibition__btn--icon' ,size: '54x54'