.plan
  .chapter-container
    %h2.chapter-head
      支払い方法
    .chapter-inner
      .chapter-inner__creditcard-list
        クレジットカード一覧
      .chapter-inner__add-creditcard
        = link_to "クレジットカードを追加する", new_credit_path, class: "credit_information__btn"
      .chapter-inner__pay-method
      //  = link_to "支払い方法について ＞" class: "pay-method"
      