.header {
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    background-color: #fff;
    .mainheader {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        vertical-align: bottom;
      }
      &__searchbox {
        width: calc(100% - 26px);
        padding: 0 0 0 5px;
      }
      &__resultbtn {
        height: 18px;
        width: 18px;
        border: 0;
        cursor: pointer;
        background-color: #3CCACE;
        padding: 8px;
      }
    }
    .navigation {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      &__left{
        display: flex;
        &__category {
          position: relative;
          text-decoration: none;
          padding: 0;
          color: #333;
          line-height: 38px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
          }
        &--brand {
          line-height: 38px;
          padding: 0 0 0 16px;
        }
      }
      &__right{
        display: flex;
        line-height: 38px;
        &--login {
          padding: 0 0 0 16px;
        }
        &--new {
          padding: 0 0 0 24px;
        }
      }
    }
  }
}