.banner {
  background-image: image-url('bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner {
    text-align: center;
    &--title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      color: green;
    }
    &--text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba($color: #000000, $alpha: 1.0);
      color: yellow;
    }
    &__icons {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px 0 0 0;
      &--icon{
        margin: 0 20px 0 0;
      }
    }
  }
}