.banner
  .banner__inner
    .banner__inner--title
      誰でも簡単、人生を変えるフリマアプリ
    .banner__inner--text
      今すぐ無料ダウンロード！！
    .banner__inner__icons
      .banner__inner__icons--icon
        = image_tag 'app_store_pic.svg', class: 'appstore_icon',size: '140x44'
      .banner__inner__icons--icon
        = image_tag 'google_pic.svg', class: 'google_icon',size: '140x44'