= render partial: 'layouts/signin_registration_header.html'
.container
  .container__signup-panel
    .container__signup-panel__header
      %h2 会員情報入力
    .container__signup-panel__main
      .container__signup-panel__main__form-group
        %p ニックネーム
        %span(class="form-require") 必須
        %input(type="nickname" name="nickname" vale="" placeholder="ニックネーム" class="input-form")
      .container__signup-panel__main__form-group
        %p メールアドレス
        %span(class="form-require") 必須
        %input(type="email" name="mail" vale="" placeholder="PC・携帯どちらでも可" class="input-form")
      .container__signup-panel__main__form-group
        %p パスワード
        %span(class="form-require") 必須
        %input(type="password" name="password" vale="" placeholder="パスワード" class="input-form")
      .container__signup-panel__main__form-group
        %p お名前（全角）
        %span(class="form-require") 必須
        %input(type="last_name" name="last_name" vale="" placeholder="姓" class="input-form")
        %input(type="first_name" name="first_name" vale="" placeholder="名" class="input-form")
      .container__signup-panel__main__form-group
        %p お名前カナ（全角）
        %span(class="form-require") 必須
        %input(type="last_name_jp" name="last_name_jp" vale="" placeholder="セイ" class="input-form")
        %input(type="first_name_jp" name="first_name_jp" vale="" placeholder="メイ" class="input-form")
      .container__signup-panel__main__form-group
        %p 生年月日
        %span(class="form-require") 必須
        %input(type="birth_year" name="birth_year" vale="" placeholder="--" class="input-form birth-form")
        %span 年
        %input(type="birth_month" name="birth_month" vale="" placeholder="--" class="input-form birth-form")
        %span 月
        %input(type="birth_day" name="birth_day" vale="" placeholder="--" class="input-form birth-form")
        %span 日
      .container__signup-panel__main__form-group
        %p 電話番号
        %span(class="form-require") 必須
        %input(type="phone_number" name="phone_number" vale="" placeholder="" class="input-form")
= render partial: 'layouts/signin_registration_footer.html'