.footer
  .contents
    .contents__content
      .contents__content--head
        =link_to "FURIMAについて", '#' , class: 'contents__content--head'
      .contents__content--part
        =link_to "会社概要（運用会社）", '#' , class: 'contents__content--part'
      .contents__content--part
        =link_to "プライバシー、ポリシー", '#' , class: 'contents__content--part'
      .contents__content--part
        =link_to "FURIMA利用規約", '#' , class: 'contents__content--part'
      .contents__content--part
        =link_to "ポイントに関する特約", '#' , class: 'contents__content--part'
    .contents__content
      .contents__content--head
        =link_to "FURIMAを見る", '#' , class: 'contents__content--head'
      .contents__content--part
        =link_to "カテゴリー一覧", '#' , class: 'contents__content--part'
      .contents__content--part
        =link_to "ブランド一覧", '#' , class: 'contents__content--part'
    .contents__content
      .contents__content--head
        =link_to "ヘルプ＆ガイド", '#' , class: 'contents__content--head'
      .contents__content--part
        =link_to "FURIMAガイド", '#' , class: 'contents__content--part'
      .contents__content--part
        =link_to "FURIMA利用ガイドライン", '#' , class: 'contents__content--part'
      .contents__content--part
        =link_to "お知らせ", '#' , class: 'contents__content--part'
  .footer__log
    = link_to root_path do
      = image_tag 'logo-white.png', class: 'footer_log',size: '140x44'
    .footer__log--footer
      ©️FURIMA