.header
  .header__inner
    .mainheader
      %h1.mainheader__icon
        = image_tag 'logo.png', class: 'header_log',size: '140x44'
      .mainheader__searchbox
      %from 
      %ul.mainheader__resultbtn
        = image_tag 'icon-search_1.png', class: 'search_log',size: '19x19'
      
    %ul.navigation
      .navigation__left
        %li.navigation__left__category
          カテゴリー
        %li.navigation__left--brand
          ブランド
      .navigation__right
        %li.navigation__right--login
          ログイン
        %li.navigation__right--new
          新規会員登録
